<div id="<%= dom_id evaluation %>">
  <p>
    <strong>Title:</strong>
    <%= evaluation.title %>
  </p>

  <p>
    <strong>Number questions:</strong>
    <%= evaluation.number_questions %>
  </p>

  <p>
    <strong>evaluation_type:</strong>
    <%= evaluation.evaluation_type %>
  </p>

</div>
