
<%= render @evaluation %>

<div>
  <%= link_to "Edit this test", edit_evaluation_path(@evaluation) %> |
  <%= link_to "Back to evaluations", evaluations_path %>

  <%= button_to "Destroy this test", @evaluation, method: :delete %>
</div>
