<div class="d-flex">
  <%= render 'sharing/sidebar' %>
  <div class="col-md-9 vh-100">
    <%= render 'sharing/nav' %>

    <div class="d-flex p-3 justify-content-center">
      <div class="card">
        <div class="card-body">
          <span class="badge badge-success">Active</span><span> Created at: 01.02.2014</span>
          <h5 class="card-title">Teste 1</h5>
          <p class="card-text">Some quick example text to build on the card title and
            make up the bulk of the card's content.</p>
          <div class="card-footer">
            <div class="border border-primary">Uncaracteriozed</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>