<div>
  <h5>My Quizzes</h5>
  <div class="row g-4">
    <div class="col">
      <div class="card" style="width: 30rem;">
        <div class="card-body">
          <div class="card-subtitle">
            <div class="d-flex justify-content-between">
                <p><span class="badge rounded-pill text-bg-info">Info</span>  Created At: 11.09.2011</p>
              <button class="btn">
                <i class="fa-solid fa-ellipsis"></i>          
              </button>
            </div>
          
          </div>
          <h5 class="card-title">Quiz Title</h5>
          <p class="card-text">Quiz description</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 30rem;">
        <div class="card-body">
          <div class="card-subtitle">
            <div class="d-flex justify-content-between">
                <p><span class="badge rounded-pill text-bg-info">Info</span>  Created At: 11.09.2011</p>
              <button class="btn">
                <i class="fa-solid fa-ellipsis"></i>          
              </button>
            </div>
          
          </div>
          <h5 class="card-title">Quiz Title</h5>
          <p class="card-text">Quiz description</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 30rem;">
        <div class="card-body">
          <div class="card-subtitle">
            <div class="d-flex justify-content-between">
                <p><span class="badge rounded-pill text-bg-info">Info</span>  Created At: 11.09.2011</p>
              <button class="btn">
                <i class="fa-solid fa-ellipsis"></i>          
              </button>
            </div>
          
          </div>
          <h5 class="card-title">Quiz Title</h5>
          <p class="card-text">Quiz description</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 30rem;">
        <div class="card-body">
          <div class="card-subtitle">
            <div class="d-flex justify-content-between">
                <p><span class="badge rounded-pill text-bg-info">Info</span>  Created At: 11.09.2011</p>
              <button class="btn">
                <i class="fa-solid fa-ellipsis"></i>          
              </button>
            </div>
          
          </div>
          <h5 class="card-title">Quiz Title</h5>
          <p class="card-text">Quiz description</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
  