<!-- <c-row>
  <c-col [sm]="6">
    <c-card class="mb-4">
      <c-card-body>
        <h5 cCardTitle>Log In</h5>
        <p cCardText>
          Enter in the system
        </p>
        <c-card-content>
          <form cForm [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <input class="form-control" formControlName="email" cFormControl id="inputEmail-1" type="email" placeholder="Email Address">
              <div *ngIf="form.get('email')?.errors?.['required']">Field is required.</div>
            </div>
            <div class="mb-3">
              <input class="form-control" formControlName="password" cFormControl id="inputPassword-1" type="password" placeholder="Password">
              <div *ngIf="form.get('password')?.errors?.['required']">Field is required.</div>
            </div>
            <input type="submit" class="btn btn-primary" value="Enter">
          </form>
        </c-card-content>
      </c-card-body>
    </c-card>
  </c-col>
</c-row> -->
<main>
  <div class="wrapper">
    <h2>Login</h2>
    <form cForm [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-box">
        <input class="form-control" formControlName="email" cFormControl id="inputEmail-1" type="email" placeholder="Email Address">
      </div>
      <div class="input-box">
        <input class="form-control" formControlName="password" cFormControl id="inputPassword-1" type="password" placeholder="Password">
      </div>
      <div class="input-box button">
        <input type="submit" class="btn btn-primary" value="Enter">
      </div>
      <div class="text">
        <h3>Don't have an account? <a routerLink="/register">Register now</a></h3>
      </div>
    </form>
  </div>
</main>