<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title class="bold-title">Sign in</mat-card-title>
  </mat-card-header>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" >
  <mat-card-content>
      <label for="email">Email: </label>
      <input id="email" type="email" formControlName="email">
    
      <label for="password">Password: </label>
      <input id="password" type="password" formControlName="password">
    </mat-card-content>
  <mat-card-actions>
    <input type="submit" value="Enter">
  </mat-card-actions>
</form>

</mat-card>