
  <div class="container p-4" id="about">
    <div class="row">
      <div class="col">
        <%= image_tag "banner", width: "100%" %>
      </div>
      <div class="col">
        <p class="text"><h5 class="text-primary">Smart Examiner</h5>  Offers intuitive tools for educators to design customized assessments with a variety of question formats, including multiple-choice, essay, and true/false. The application process is seamless, allowing students to take exams securely online, with features like timed sessions and auto-save.</p>
      </div>
    </div>
    <hr class="bg-primary">
    <div class="row">
      <div class="col-sm-3">
        <h4>For Teachers</h4>
        <%= image_tag "teacher", width: "85%"%>
      </div>
      <div class="col-sm-9">
          <ul class="list-unstyled">
            <li class="p-2"><b class="text-primary">Time Efficiency:</b>
            Automated grading for objective questions saves time, allowing teachers to focus on providing detailed feedback on subjective responses.</li>
            <li class="p-2"><b class="text-primary">Customizable Exams:</b>  Teachers can easily create and tailor exams to meet specific learning objectives and student needs.</li>
            <li class="p-2"><b class="text-primary">Data-Driven Insights:</b> Analytics tools help identify trends, pinpoint areas where students struggle, and inform future teaching strategies.</li>
          </ul>
      </div>
    </div>
    <hr class="bg-primary" />
    <div class="row">
      <div class="col-sm-3">
        <h3>For Students</h3>
        <%= image_tag "student", width: "85%"%>
      </div>
      <div class="col-sm-9">
        <ul class="list-unstyled">
          <li class="p-2">
            <b class="text-primary">Convenience:</b> Students can take exams from any location with internet access.
          </li>
          <li class="p-2">
             <b class="text-primary">Immediate Feedback:</b> Instant grading for objective questions provides quick insights into performance.
          </li>

          <li class="p-2">
            <b class="text-primary">Accessibility:</b> Features like text-to-speech, adjustable font sizes, and screen readers make exams more accessible.
          </li>
        </ul>
      </div>
    </div>
  </div>

