<nav class="navbar navbar-expand nav-info bg-primary ">
  
  <a class="navbar-brand text-light" >
    <%= image_tag "smartexaminer_icon.png", width: "40px"%>
    SmartExaminer
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="d-flex justify-content-end w-100">
    <ul class="navbar-nav">
      <li class="nav-item px-2">
        <%= link_to "Enter", new_user_session_path, class:" btn btn-warning" %>
      </li>
      <li class="nav-item px-2">
        <%= link_to "Register", new_user_registration_path, class:"btn btn-info" %>
      </li>
    </ul>
  </div>
</nav>