<nav class="navbar navbar-expand py-3">

  <ul class="navbar-nav">
    <li class="nav-item text-dark" style="width: 125px">
      <span class="font-weight-bolder">My Tests</span>(5)
    </li>
  </ul>
  <div class="d-flex justify-content-end w-100">
    <ul class="navbar-nav">
        <li>
            <%= link_to " + New Test", new_exam_path , class:"btn btn-success"%>
        </li>
    </ul>
  </div>

</nav>
