<!-- <div class="d-flex" id="wrapper">
  Sidebar
  <div class="border-end bg-white w-50" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom border-end bg-light py-3">SmartExaminer</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action p-3" href="#!">
        Dashboard
      </a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
        Tests
      </a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>
    </div>
  </div>
</div>
-->
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">SmartExaminer</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href=<%= exams_path %> class="nav-link active" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        My Exams
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
        Groups
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        Results
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
        My Account
      </a>
    </li>
  </ul>
  <hr>
  <div class="d-flex flex-column pl-4">
    <%= link_to destroy_user_session_url, method: :delete, class:'nav-link' do %>
      <i class="fa-solid fa-right-from-bracket"></i> Sign out
    <% end %>
  </div>
</div>