<div class="d-flex">
    <%= render partial: 'sharing/sidebar_exams'%>
      <div class="col-8 py-3">
        <h5>New Exam</h5>
        <div class="card p-3">
          <h6>Initial Settings</h6>

          <%= render "form", exam: @exam %>

          <br>

          <div>
            <%= link_to "Back to exams", exams_path %>
          </div>


      </div>
    </div>
  </div>
  </div>

