<div class="d-flex">
  <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
    <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
     I
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a href="#" class="nav-link active py-3" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
          <i class="fa-regular fa-file-lines"></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
          <i class="fa-regular fa-file-lines"></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
          <i class="fa-regular fa-file-lines"></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
          <i class="fa-regular fa-file-lines"></i>      </a>
      </li>
    </ul>
    <div class="dropdown border-top">
      <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid vh-100">
    <div class="row">
      <div class="col-3 px-md-3 py-3">
        <div class="d-flex flex-column">
          <ul class="nav navbar">
            <li class="nav-item nav-link">
              <i class="fa-solid fa-gear"></i> Basic Settings
            </li>
            <li class="nav-item nav-link">
              <i class="fa-solid fa-sliders"></i> Questions Manager
            </li>
            <li class="nav-item nav-link">
              <i class="fa-solid fa-bars"></i> Test Sets
            </li>
          </ul>
        </div>
      </div>
      <div class="col-8 py-3">
        <h5>New Exam</h5>
        <div class="card p-3">
          <h6>Initial Settings</h6>

          <%= render "form", exam: @exam %>

          <br>

          <div>
            <%= link_to "Back to exams", exams_path %>
          </div>

          <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Show a second modal and hide this one with the button below.
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Open second modal</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>

